.prismaFrame {
  --gradient-angle: 140deg;
  background: linear-gradient(var(--gradient-angle), #0c1d26 0%, #0a0c17 100%);
}

.prismaWindow {
  position: relative;
  width: 100%;
  overflow: visible;
  border: 1px solid transparent;
  border-radius: var(--radius);
  background-color: var(--background);
  --radius: 10px;
  --frame-border-gradient: linear-gradient(var(--gradient-angle), #3e4083, #16544f);
  --background: hsla(223, 41%, 7%, 75%);
}

.prismaWindow [data-frameborder]::before {
  position: absolute;
  inset: 0;
  border: 1px solid transparent;
  border-radius: var(--radius);
  background: var(--frame-border-gradient) border-box;
  content: "";
  mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  pointer-events: none;
}

.prismaWindow [data-frameborder]:nth-of-type(1)::before {
  inset: -1px;
}

.prismaWindow [data-frameborder]:nth-of-type(2)::before {
  border-radius: calc(var(--radius) + 6px);
  inset: -6px;
  opacity: 0.5;
}

.prismaWindow [data-frameborder]:nth-of-type(3)::before {
  border-radius: calc(var(--radius) + 11px);
  inset: -11px;
  opacity: 0.3;
}

.prismaWindow [data-frameborder]:nth-of-type(4)::before {
  border-radius: calc(var(--radius) + 16px);
  inset: -16px;
  opacity: 0.1;
}
