@import "./frames/vercel.module.css";
@import "./frames/tailwind.module.css";
@import "./frames/prisma.module.css";
@import "./frames/trigger.module.css";

.frame {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100%;
  border-radius: var(--frame-radius, 16px);
  height: 100%;
  align-items: center;
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
}
